body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, var(--bg-color-main), #eaeaea);
}

header {
    text-align: center;
    z-index: 1000;
    padding: 15px 0;
    color: #fff;
}

.toolbar-item, button, select, input[type=color] {
    /* Styles for toolbar items */
    margin: 5px;
    padding: 5px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: var(--shadow-light);
    gap: 10px;
    border-bottom: 1px solid #dee2e6;
}

.top-toolbar {
    height: 60px;
}

.left-toolbar {
    flex-direction: column;
    width: 60px;
    background-color: #f8f9fa;
    box-shadow: 2px #f8f9fa;
}

.main-content {
    display: flex;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

#drawingCanvas {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    border: 1px solid #ddd;
    padding: 30;
    overflow: auto;
    background-color: #fbe5cf;
}

.toolbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-toolbar-item);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    will-change: background-color;
}

.toolbar-item:hover, .toolbar-item:focus {
    background-color: var(--bg-color-toolbar-item-hover);
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--bg-color-toolbar-item);
}

@media (max-width: 768px) {
    .left-toolbar {
        width: 40px;
        gap: 5px;
    }
}

#canvasTextInput {
    position: absolute;
    display: none;
    z-index: 100;
    border: 1px solid #ccc;
    border-bottom: 1px solid #000; /* visible when editing */
    outline: none;
    background: transparent;
    font-size: 16px;
}
