<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/sourceCode/static/styles/dashboard.css">
</head>
<body id="dashboard">
    <header>
        <h1>Dashboard</h1>
    </header>
    <div class="grid-container">
        <a class="nav-link" href="/dashboard/journal/">Journal</a>
        <a class="nav-link" href="/dashboard/profile">Profile</a>
        <a class="nav-link" href="/dashboard/surveys">Surveys</a>
        <script src="dashboardNav.js"></script>
    </div>
    <div class="chart-placeholder">
        <p>Chart will go here</p>
    </div>
    <script src="/initializers.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</body>
</html>