<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4WAE</title>
</head>
<body>
    <h1>4WAE</h1>
    <!-- Big Five de Jung should have a free version available (maybe I can use with citation)-->
    <!-- Generic Depression, anxiety, etc... Survey for daily -->
    <!-- MBTI using Neural Net model, can use generic questions can be fun -->
    <!-- Enegram test with scores, but may require some research my background is shaky -->
    <!-- Custom Survey like the one I have already -->

    <!-- Cool but potentially problematic ideas -->
    <!-- Early Iq test: The binet Simon-Test -->
    <!-- Writing is the only way your present self can listen to your past self and speak to your futrue self -->
</body>
</html>